[submodule "plugins/amica"]
	path = plugins/amica
	url = https://github.com/BUCANL/Amica.git
[submodule "plugins/batch_context"]
	path = plugins/batch_context
	url = https://github.com/BUCANL/Batch-Context.git
[submodule "plugins/vised_marks"]
	path = plugins/vised_marks
	url = https://github.com/BUCANL/Vised-Marks.git
[submodule "plugins/bids-matlab-tools"]
	path = plugins/bids-matlab-tools
	url = https://github.com/BUCANL/bids-matlab-tools.git
