# Pipeline workspace:
octave-workspace

# Ignore all derivative data...
# derivatives/lossless/*
# But keep the pipeline code.
# !derivatives/lossless/code/*
derivatives/lossless/log
code/eeg_init
code/misc

# Specifically hide the staging script
derivatives/lossless/code/scripts/staging/*
!derivatives/lossless/code/scripts/.gitkeep

# Ignore the configs as they're specialized to a project
derivatives/lossless/code/config/remote-sbatch

# BIDS ignores:
sourcedata/*
sub-*
participants.tsv
dataset_description.json
grp_*
