[submodule "bids/derivatives/lossless/code/dependencies/eeglab_asr_amica"]
	path = bids/derivatives/lossless/code/dependencies/eeglab_asr_amica
	url = https://git.sharcnet.ca/bucanl_eeglab_versions/eeglab_lossless.git
